@import "../omarchy/current/theme/waybar.css";

* {
  /* background-color: @background; */
  color: @foreground;

  border: none;
  border-radius: 0;
  
  min-height: 0;
  margin: 0;
  padding: 0;
  
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 14px;
  opacity: 100;
  
}

window#waybar {
  background: transparent;
}

.modules-left {

}

.modules-right,.modules-center {
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background: alpha(@background, 0.6);
  
}

#window {
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background: alpha(@background, 0.6);
    font-size: 12px;
    
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
  margin-left: 16px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
