@import "../omarchy/current/theme/waybar.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11px;
  color: @foreground;
}

window#waybar {
  background: transparent;
}

.modules-left {
  margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}

#window,
#workspaces,
#clock,
#custom-print-status,
#custom-media,
#custom-weather,
#custom-update,
#custom-notifications,
#custom-voxtype,
#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator,
#custom-bluetooth,
#network,
#custom-net-speed,
#pulseaudio,
#memory,
#custom-power-mode,
#custom-omarchy,
#custom-expand-icon {
  background: alpha(@background, 0.85);
  padding: 0 8px;
  margin: 2px 2px;
  border-radius: 4px;
}

window#waybar.empty #window {
  background: transparent;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @foreground;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray {
  background: alpha(@background, 0.55);
  margin: 3px 16px 3px 3px;
  padding: 0 8px;
  border-radius: 8px;
}

#tray > .passive {
  margin: 0 2px;
}

#custom-update {
  font-size: 10px;
}

#custom-weather.unavailable {
  min-width: 0;
  margin: 0;
  padding: 0;
  background: transparent;
}

.hidden {
  opacity: 0;
}

#custom-media.playing {
  color: @foreground;
}

#custom-media.paused {
  opacity: 0.6;
}

#custom-print-status,
#custom-notifications,
#custom-power-mode,
#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-voxtype.recording {
  color: #a55555;
}

tooltip {
  padding: 2px;
}
